### Scala ###
*.class
*.log
target/
project/{target/,project/}

tags

## Docs
docs/*pdf

## Scala code completion engine Ensime
ensime.sbt
.ensime_cache
.ensime

node_modules/

## Ignore run headers
src/main/resources/headers/*.h
