### Scala ###
*.class
*.log
target/
project/{target/,project/}

tags

## Docs
docs/*pdf

## Scala code completion engine Ensime
ensime.sbt
.ensime_cache
.ensime
.sbt-hydra-history

node_modules/

## Ignore run headers
src/main/resources/headers/*.h
src/main/resources/headers/*.hpp

## Testing dir
_test

*.o

*.bak
*.1
filament-core/compiled

