ver = "0.2.7"

[[tests]]
name = "compile vivado"
paths = [ "file-tests/should-compile/*.fuse" ]
cmd = "./fuse {} | tail -n+2"
expect_dir = "file-tests/vivado-out"

[[tests]]
name = "compile cpp"
paths = [ "file-tests/should-run/*.fuse" ]
cmd = "./fuse {} -b c++ | tail -n+2"
expect_dir = "file-tests/cpp-out"

[[tests]]
name = "compile lower"
paths = [ "file-tests/should-lower/*.fuse" ]
cmd = "./fuse {} --lower -b c++ -l error | tail -n+2"

[[tests]]
name = "compile futil"
paths = [ "file-tests/should-futil/*.fuse" ]
cmd = "./fuse {} --lower -b futil -l error | tail -n+2"

[[tests]]
name = "fail"
paths = [ "file-tests/should-fail/*.fuse" ]
cmd = "./fuse {}"

[[tests]]
name = "run"
paths = [ "file-tests/should-run/*.fuse" ]
cmd = """
./bin/run-dahlia {} "-b c++"
"""
expect_dir = "file-tests/data"

[[tests]]
name = "run lower"
paths = [ "file-tests/should-lower-run/*.fuse" ]
cmd = """
./bin/run-dahlia {} "-b c++ --lower -l error"
"""
# Should compute the same results as should run
expect_dir = "file-tests/data"
