<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Seashell Buildbot</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock head %}
    </head>
    <body>
        <h1>Buildbot</title>
        <hr/>
        {% block content %}
        {% endblock %}
    </body>
</html>
