{% extends "base.html" %}
{% block content %}
<h2>Job {{ job.name }}</h2>
<ul>
    <li>
        <b>started:</b>
        {{ job.started | dt }}
    </li>
    <li>
        <b>state:</b>
        {{ status_strings[job.state] }}

        <form action="" method="post" class="inline">
            <select name="state">
                {% for state, name in status_strings.items() -%}
                <option value="{{ state }}"
                    {%- if state == job.state %}selected{% endif %}>
                    {{ name }}
                </option>
                {%- endfor %}
            </select>
            <input type="submit" value="Set">
        </form>
    </li>
    {% for key, value in job.items() %}
    {% if key not in ('started', 'state', 'name', 'log') %}
    <li>
        <b>{{ key }}:</b>
        {{ value }}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<p>
    List
    <a href="{{ url_for('job_files', name=job.name) }}">the job’s files</a>.
</p>

<p>
    See <a href="{{ url_for('job_log', name=job.name) }}">the full log</a>.
</p>
<pre class="log">{{ log }}</pre>
{% endblock %}
