{% extends "base.html" %}
{% block content %}
<h2>Jobs</h2>
<table>
    <thead>
        <tr>
            <td>job</td>
            <td>started</td>
            <td>state</td>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs | sort(attribute="started", reverse=True) %}
        <tr>
            <td>
                <a href="{{ url_for('show_job', name=job.name) }}">
                    {{ job.name }}
                </a>
            </td>
            <td>{{ job.started }}</td>
            <td>{{ job.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
