{% extends "base.html" %}
{% block content %}
<h2>Start Job</h2>
<form method="POST" action="/jobs" enctype="multipart/form-data">
    <p>
        <input type="file" name="file" accept="application/zip">
    </p>

    <p>
        <input type="checkbox" name="skipseashell" id="skipseashell">
        <label for="skipseashell">C/C++ input</label>
    </p>

    <p>
        <input type="checkbox" name="estimate" id="estimate">
        <label for="estimate">Hardware estimate only</label>
    </p>

    <p class="submit">
        <input type="hidden" name="browser" value="true">
        <input type="submit" value="Upload">
    </p>
</form>

Or see the <a href="{{ url_for('live_html') }}">live interface</a>.

<h2>Jobs</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs | sort(attribute="started", reverse=True) %}
        <tr>
            <td>
                <a href="{{ url_for('show_job', name=job.name) }}">
                    {{ job.name }}
                </a>
            </td>
            <td>{{ job.started | dt }}</td>
            <td>{{ job.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
