/* Work around a KaTeX problem where tags are positioned all the way to the
 * right of the window. */
.katex-display > .katex > .katex-html > .tag {
    position: relative !important;
    float: right;
}

.todo {
    background: #f99;
}

span.todo {
    outline: 4px solid #f99;
}

div.todo {
    padding: 6px 8px;
}
div.todo > p:first-child {
    margin-top: 0;
}
div.todo > p:last-child {
    margin-bottom: 0;
}

.formula {
  border: 1px solid black;
  border-radius: 11px;
}
