/* Work around a KaTeX problem where tags are positioned all the way to the
 * right of the window. */
.katex-display > .katex > .katex-html > .tag {
    position: relative !important;
    float: right;
}

.todo {
    background: #f99;
}

span.todo {
    outline: 4px solid #f99;
}

div.todo {
    padding: 6px 8px;
}
div.todo > p:first-child {
    margin-top: 0;
}
div.todo > p:last-child {
    margin-bottom: 0;
}

/* Put lemmas, theorems, etc. in a box */

div.formula {
  padding-left: 1em;
}

.formula {
  border: 1px solid black;
  border-radius: 11px;
}

/* --- */

hr {
  border: 0;
  height: 1px;
  background: #aaa;
}

h1 {
  margin-top: 1em;
}

.nav {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

/* Github style code background */
pre {
  background: rgb(246, 248, 250);
  padding: 1em;
}
