body {
    font-family: "Source Sans Pro", Verdana, Tahoma, Geneva, sans-serif;
    max-width: 50rem;
    margin: 1rem auto;
}

h1 {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
h2 {
    margin: 1rem 0 0.5rem;
}

h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
    color: inherit;
    text-decoration: none;
}
h2 a:hover, h3 a:hover {
    text-decoration: underline;
}

th, td {
    padding: 0.1rem 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    margin-bottom: 0.4rem;
}

pre {
    margin: 0;
    overflow-x: auto;
}

form {
    margin-bottom: 1rem;
}
form.inline {
    display: inline;
}
form p {
    display: inline-block;
    margin: 0;
}
form p.submit {
    display: block;
}

textarea {
    width: 100%;
    height: 20ex;
    font-family: monospace;
}

#result {
    white-space: pre;
    font-family: monospace;
}
#jobLink {
    font-size: 80%;
}

/* Labels for states */

.status {
  border-radius: 25px;
}

.done {
  background-color: green;
  color: white;
}

.failed {
  background-color: #FF2400;
  color: white;
}

.seashelled {
  background-color: #189ad3;
  color: white;
}

.hlsed, .hlsing {
  background-color: #db9a59;
  color: white;
}

.fpga_executing {
  background-color: #be29ec;
  color: white;
}
